@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-10 mx-auto text-center">
        <div class="section-title">
            <h1>Welcome to ABC Retail!</h1>
        </div>
    </div>
</div>
<p></p>
<div class="text-center">
    <p>At ABC Retail, we are committed to bringing you the best in online shopping. Our wide selection of products, from electronics to fashion, home goods to beauty products, ensures that you find exactly what you're looking for — all at competitive prices.</p>
    <p>Explore our catalog and enjoy seamless browsing, easy checkout, and fast shipping. Whether you're shopping for yourself or a loved one, we have something special just for you. Plus, with our dedicated customer support team, we're here to make your shopping experience as delightful as possible.</p>
    <p>Thank you for choosing ABC Retail, where quality meets convenience.</p>
    <p></p>
    <p><strong>Happy Shopping!</strong></p>
</div>





